.page {
  background-color: rgb(251, 251, 255);
  padding-top: 10px;
  margin-top: 4em;
  display: flex;
  width: 100%;  
}

.pageTitle {
  color: #555;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
}

.pageTitle svg {
  margin-right: 20px;
}

.content {
  padding: 0 20px 10px 10px;
  width: 100%;
  /* margin-right: 20px; */
}

.contentCenter {
  justify-content: center;
}