.registerContainer {
  
}

.registerText {
  display: flex;
  align-items: center;
}

.registerSuccessIcon {
  color: green;
  margin-right: 10px;
  font-size: 2.5rem !important;
}

.registerMessage {
  color: #555;
  font-size: .8rem;
}


.registerErrorIcon {
  color: coral;
  margin-right: 10px;
  font-size: 2.5rem !important;
}

.registerButtonPanel {
  display: flex;
  justify-content: flex-end;
}