.selectContainer {
  position: relative;
 }

.selectContainer .overlay {
  position: fixed;
  z-index: 101;
  background-color: rgba(100, 100, 100, .5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
}

.selectContainer .select input:focus + .overlay {
  display: block;
}

.select {
  margin: 10px 0;
  width: 100%;
  position: relative;
  background-color: #0000000d;
  color: white;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 102;
}

.select input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  color: var(--first-color);
  z-index: 1;
}

.select label {
  z-index: 0;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  color: #444;
  left: 10px;
  top: 17px;
  transition: .1s cubic-bezier(.25,.8,.5,1);
  -webkit-transition: .1s cubic-bezier(.25,.8,.5,1);
  -moz-transition: .1s cubic-bezier(.25,.8,.5,1);
  -ms-transition: .1s cubic-bezier(.25,.8,.5,1);
  -o-transition: .1s cubic-bezier(.25,.8,.5,1);
  pointer-events: none;
  transform-origin: top left;
}

.select input:focus {
  border-bottom: solid 1px #6a59d1;
}

.select input:focus ~ label,
.select input.fill ~ label
 {
  color: #6a59d1;
  transform: translateY(-15px) scale(.75);
  -webkit-transform: translateY(-15px) scale(.75);
  -moz-transform: translateY(-15px) scale(.75);
  -ms-transform: translateY(-15px) scale(.75);
  -o-transform: translateY(-15px) scale(.75);
}

.selectList {
  display: none;
}

.selectList.active {
  display: block;
}

.select .arrow {
  position: absolute;
  top: 15px;
  font-size: 20px;
  color: silver;
  right: 10px;
}

.select .arrowRemove {
  position: absolute;
  top: 15px;
  font-size: 20px;
  color: silver;
  right: 35px;
  cursor: pointer;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

.select .arrowRemove:hover {
  color: coral !important;
}

.selectList {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #0000000d;
  border-top: none;
  width: 100%;
  z-index: 103;
  top: 61px;
  /* top: 120px; */
}

.selectListItem {
  background: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.selectListItem:hover {
  background: gray;
  color: white;
}

.underText {
  font-size: .7rem;
  color:rgba(100, 100, 100, .5);
}