.accentText {
  color: var(--default-color);
  font-weight: bold;
}

.thinText {
  color: rgba(200, 200, 200, .9);
  font-weight: 300;
  font-size: .8rem;
}
.dictionaryPageWidthSidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
/* MODULES IN ADD DICS  */
.modulesContainer {
  margin-top: 30px;
}

.modulesPriceContainer {
  margin-top: 20px;
  background-color: rgba(200, 200, 200, .2);
  padding: 20px 10px;
  font-size: 18px;
}